body {
  background-color: #3B653D;
  color: white;
  font-family: "Eraser";
}

.cart-header {
  margin-top: 30px;
  height: 400px;
  background: url(img/three.jpg)center center no-repeat scroll;
}

.tagline {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-size: 5em;
}

.img-circle {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: block;
    margin-left: auto;
    margin-right: auto;

}

.center {

}



.menu {
  text-align: center;
  width: [width of img];
}
footer {
  margin-left: 50px;
}

.menu_choices {
  font-family: 'Eraser';
}

@font-face {
  font-family: 'Eraser';
  src: url("Eraser.ttf"),
  url("Eraser.eot");
}

.choice {
  font-size: 1.5em;
}

.menu_title {
  font-size: 3em;
}

.navbar-brand {
  float: right;
}

.map {
  text-align: center;
}

.twitter-timeline {
  height: 500px;
}

#email_send a{
  color: #d3d3d3;
}

#email_send a:hover {
  color: #d0d0d0;
}
